<a href="{{ cardUrl }}" class="card">
  <div class="card-image-wrapper">
    <img class="card-img" src="{{ cardImage }}" alt="{{ title }}">
  </div>
  <div class="card-caption">
    <p class="headline m centered">{{ title }}</p>
  </div>
</a>